/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  transition: all .3s ease-in-out; }

img {
  max-width: 100%;
  height: auto; }

html {
  height: 100%;
  font-size: 16px; }

body, html {
  min-height: 100%;
  width: 100%; }

.clear::after, .clear::before {
  content: " ";
  display: table; }

.clear::after {
  clear: both; }

@font-face {
  font-family: Proxima;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/proxima/ProximaNova-Regular.eot");
  src: url("fonts/proxima/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/proxima/ProximaNova-Regular.woff2") format("woff2"), url("fonts/proxima/ProximaNova-Regular.woff") format("woff"), url("fonts/proxima/ProximaNova-Regular.ttf") format("truetype"), url("fonts/proxima/ProximaNova-Regular.svg#Proxima") format("svg"); }

@font-face {
  font-family: Proxima-Bold;
  font-weight: 700;
  font-style: normal;
  src: url("fonts/proxima/ProximaNova-Bold.eot");
  src: url("fonts/proxima/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/proxima/ProximaNova-Bold.woff2") format("woff2"), url("fonts/proxima/ProximaNova-Bold.woff") format("woff"), url("fonts/proxima/ProximaNova-Bold.ttf") format("truetype"), url("fonts/proxima/ProximaNova-Bold.svg#Proxima-Bold") format("svg"); }

body {
  font-family: "Pt Sans", sans-serif;
  color: #665f60; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #665f60; }

.title {
  color: #fefefb;
  font: 2.25rem/3rem Proxima, sans-serif;
  text-align: center;
  text-transform: uppercase; }

.btn {
  display: flex;
  width: 195px;
  justify-content: center;
  border: 1px solid;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 3.125rem; }

.btn--top {
  width: 85px;
  height: 85px;
  background: url(../images/interface---arrow-top-.png) top center no-repeat;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 22; }

.header {
  background: url(../images/header_bg.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: #fefefb;
  text-align: center; }
  .header__menu {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px; }
  .header__items {
    display: flex;
    flex-direction: row; }
  .header__item {
    display: flex;
    align-content: center; }
  .header__link {
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
    font: 400 1.5rem Proxima, sans-serif;
    color: #fff;
    transition: all .5s ease-in-out; }
    .header__link:hover {
      color: #665f60; }
  .header__title {
    font: 400 4.5rem Proxima-Bold, sans-serif;
    margin-bottom: 35px; }
  .header__text {
    font-style: italic;
    font-size: 1.875rem;
    width: 70%;
    margin: 0 auto; }

.about {
  padding: 120px 0; }
  .about-col {
    background: url(../images/about.jpg) top center no-repeat;
    background-size: cover;
    padding-left: 0; }
  .about__icon {
    display: flex;
    margin: 70px auto 42px; }
  .about__text {
    font-size: 1.25rem; }
    .about__text--bold {
      font-weight: 700; }
    .about__text--cursive {
      font-style: italic; }
    .about__text:first-child {
      margin: 70px 0 25px; }
  .about__btn {
    margin: 95px auto 100px;
    color: #665f60;
    border-color: #665f60; }
    .about__btn:hover {
      color: #ac97a9;
      border-color: #ac97a9; }

.services__col {
  background: url(../images/services.jpg) top center no-repeat;
  background-size: cover;
  color: #fefefb;
  padding-top: 110px; }

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 95px 0 130px;
  color: #665f60;
  min-height: 394px; }
  .services__item--dark {
    background-color: #dbdbdb; }
  .services__item:hover {
    background-color: #ac97a9; }

.services__subtitle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 4.5rem;
  text-transform: uppercase; }

.services__text {
  text-align: center;
  width: 60%;
  font-size: 1.125rem;
  font-style: italic; }
  .services__text--col {
    width: 95%; }

.services__title {
  margin: 28px 0 110px; }

.services__author {
  font-weight: 700; }

.works {
  background: url(../images/works.jpg) top center no-repeat;
  background-size: cover;
  padding-top: 45px;
  text-align: center; }
  .works__title {
    margin: 34px 0 67px; }
  .works__item {
    display: flex;
    justify-content: center; }
  .works__arrow--next {
    position: relative;
    width: 45px;
    height: 0px;
    background: red;
    z-index: 5;
    background: url(../images/interface---arrow-right.png) center center no-repeat; }
  .works__arrow--prev {
    position: relative;
    width: 45px;
    height: 0px;
    background: red;
    z-index: 5;
    background: url(../images/interface---arrow-left.png) center center no-repeat; }
  .works__btn {
    margin: 45px auto 55px;
    color: #fefefb;
    border-color: #fefefb; }
    .works__btn:hover {
      border-color: #665f60; }

.slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .slick-dots li {
    margin: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ebebeb; }
    .slick-dots li button {
      display: none; }

li.slick-active {
  background: #ebebeb; }

.team {
  background: #ebebeb;
  text-align: center;
  padding-top: 50px; }
  .team .title {
    color: #665f60;
    line-height: 5rem; }
  .team__slide {
    background: linear-gradient(to bottom, #ebebeb 35%, #ebebeb 35%, white 36%, white 100%);
    border: 15px solid #ebebeb;
    width: 33%;
    margin-bottom: 50px; }
  .team__photo {
    border-radius: 100%;
    display: block;
    border: 10px solid #ebebeb;
    margin: 35px 0; }
  .team__name {
    color: #9f9acf;
    text-transform: uppercase;
    font: 700 1.5rem Proxima-Bold, sans-serif; }
  .team__prof {
    margin: 33px 0 50px;
    font-style: italic;
    font-size: 1.5rem; }
  .team__socials {
    width: 100%;
    background: #9f9acf;
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center; }
  .team__link {
    padding: 0 10px; }

.footer {
  background: #9f9acf;
  height: 185px; }
  .footer .col-12 {
    display: flex;
    justify-content: space-between;
    align-items: center; }

#map {
  width: 100%;
  height: 100vh;
  z-index: -1; }

.contact__title {
  position: absolute;
  z-index: 7; }
