.works {
    background: url(../images/works.jpg) top center no-repeat;
    background-size: cover;
    padding-top: 45px;
    text-align: center;
    &__title {
        margin: 34px 0 67px;
    }
    &__item {
        display: flex;
        justify-content: center;
    }
    &__arrow--next{
        position: relative;
        @include size(45px, 0px);
        background: red;
        z-index: 5;
        background: url(../images/interface---arrow-right.png) center center no-repeat;
        
    }
    &__arrow--prev{
        position: relative;
        @include size(45px, 0px);
        background: red;
        z-index: 5;
        background: url(../images/interface---arrow-left.png) center center no-repeat;
        
    }
    &__btn {
        margin: 45px auto 55px;
        color: $white;
        border-color: $white;
        &:hover {
            border-color: $grey;
        }
     
    }
}

//slider

.slick-dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        li {
            margin: 3px;
            @include size(10px);
            border-radius: 50%;
            border: 2px solid #ebebeb;
            & button {
                display: none;
            }
        }
    }
    li.slick-active {
        background: #ebebeb;
    }